@import 'variables.css';

* {
    box-sizing: border-box;
}

:root {
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    line-height: 1.5;
    font-weight: 400;
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;
}

body {
    margin: 0;
    min-width: 320px;
    min-height: 100dvh;
}

body.light-mode {
    background-color: var(--light-gray);
    color: var(--text-light);
}

body.dark-mode {
    background-color: var(--dark-gray);
    color: var(--text-dark);
}

#root {
    display: flex;
    flex-direction: column;
    min-height: 100dvh;
}
h1 {
    font-size: 3.2em;
    line-height: 1.1;
}

.button {
    background-color: var(--main-green);
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    transition: background-color 0.5s ease-in-out;
    border-radius: 10px;
    &:hover {
        background-color: #3e8e41;
        color: white;
    }
    &:active {
        background-color: var(--accent-green);
        color: white;
    }
}

input:focus {
    outline: var(--main-green) auto 1px;
    border-color: var(--main-green);
}

.main-container {
    display: flex;
    min-height: 100dvh;
}

.page {
    flex-grow: 1;
    padding: 2%;
    width: 80%;
}

.primary-container {
    margin: 3%;
    padding: 2%;
    border-radius: 8px;
    box-shadow: 0px 0px 20px 0px var(--color-shadow);
    & label {
        font-size: 1.2rem;
        font-weight: 500;
        margin-left: 10px;
        & input[type='checkbox'] {
            width: 15px;
            height: 15px;
            margin-left: 10px;
            cursor: pointer;
            accent-color: var(--main-green);
        }
    }
}

.sub-container {
    padding: 3%;
    border-radius: 8px;
    box-shadow: 0px 0px 20px 0px var(--color-shadow);
    background-color: var(--accent-background-color);
    margin: 2%;

    & a{
        color: var(--main-green);
        text-decoration: none;
    }
}

.card-list {
    margin-top: 20px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 20px;
}

.card {
    padding: 20px;
    box-shadow: 0 0 10px var(--color-shadow);
    border-radius: 10px;
    cursor: pointer;
    transition: transform 0.3s ease-in-out;
    background-color: var(--accent-background-color);

    &:hover {
        transform: scale(1.05);
    }

    & h3 {
        font-size: 18px;
        margin-bottom: 8px;
    }

    & p {
        font-size: 14px;
        margin-bottom: 8px;
    }
}


