.admin-page{
    flex-grow: 1;
    padding: 3%;
}
.admin-form-container{
    padding: 3%;
    border-radius: 8px;
    box-shadow: 0px 0px 20px 0px var(--color-shadow);
    height: 100%;
}

.adminForm {
    display: flex;
    flex-direction: column;
    gap: 6px;
    padding: 5px;
    margin: auto;
    width: 200px;
    & button{
        margin-top: 15px;
    }
    & label{
        font-size: 1.1rem;
    }
    & input{
        font-size: 1.1rem;
    }
}

.errorAdminForm {
    text-align: center;
    width: 200px;
    padding: 10px;
    background: #ffefef;
    border: 1px solid #e7195a;
    color: #e7195a;
    border-radius: 4px;
    margin: 20px 0;
    font-size: smaller;
}

.successAdminForm {
    width: 200px;
    text-align: center;
    padding: 10px;
    background: #69ec71;
    font-size: smaller;
    border: 1px solid var( --accent-green);
    color: var(--text-light);
    border-radius: 4px;
    margin: 20px 0;
}