.navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    text-align: center;
    width: 100%;
    background-color: var(--header);
    padding: 2px 24px 2px 24px;
    user-select: none;
    font-size: 18px;
    font-weight: 600;
    color: var(--header-items);
}

#navbar-buttons {
    /* width: 15%; */
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 8px;

    .ant-btn {
        height: 45px;
        width: 100px;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap: 8px;
        font-size: 18px !important;
        transition: color 0ms;
        -webkit-transition: color 0ms;
        -moz-transition: color 0ms;
        -ms-transition: color 0ms;
        -o-transition: color 0ms;
        color: var(--main-text-color);
    }

    .ant-avatar {
        cursor: pointer;
        margin-left: 30px;
    }

    .inbox-icon {
        cursor: pointer;
    }

}

.ant-badge {
    margin-top: 6.5px;
    margin-right: 10px;
}

.notifs-class {
    .ant-dropdown-menu-item {
        cursor: default !important;

        &:hover {
            background-color: white !important;
        }
    }
}

.notifs-class>ul {
    border-radius: 0% !important;
    -webkit-border-radius: 0% !important;
    -moz-border-radius: 0% !important;
    -ms-border-radius: 0% !important;
    -o-border-radius: 0% !important;
    padding: 0% !important;

    .ant-dropdown-menu-item {
        height: 90px;
        width: 360px;
    }

    .ant-dropdown-menu-item:hover {
        background-color: white !important;
    }

    .ant-dropdown-menu-item-active {
        background-color: white !important;
    }
}

.read-button {
    cursor: pointer;

    &:hover {
        background-color: var(--complementary-blue) !important;
    }
}