.navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    text-align: center;
    width: 100%;
    background-color: var(--main-blue);
    padding: 12px 24px 12px 24px;
}

#navbar-buttons {
    /* width: 15%; */
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 8px;
    color: var(--header-white);

    .ant-btn {
        height: 45px;
        width: 100px;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap: 8px;
        font-size: 18px !important;
        transition: color 0ms;
        -webkit-transition: color 0ms;
        -moz-transition: color 0ms;
        -ms-transition: color 0ms;
        -o-transition: color 0ms;
        color: var(--header-white);
    }

    .ant-avatar {
        cursor: pointer;
    }

    .inbox-icon {
        cursor: pointer;
    }

}

.ant-badge {
    margin-top: 6.5px;
    margin-right: 10px;
}

.notifs-class {
    .ant-dropdown-menu-item {
        cursor: default !important;

        &:hover {
            background-color: white !important;
        }
    }
}

.notifs-class>ul {
    border-radius: 0% !important;
    -webkit-border-radius: 0% !important;
    -moz-border-radius: 0% !important;
    -ms-border-radius: 0% !important;
    -o-border-radius: 0% !important;
    padding: 0% !important;

    .ant-dropdown-menu-item {
        height: 60px;
        width: 320px;
    }

    .ant-dropdown-menu-item:hover {
        background-color: white !important;
    }

    .ant-dropdown-menu-item-active {
        background-color: white !important;
    }
}

.read-button {
    cursor: pointer;

    &:hover {
        background-color: var(--complementary-blue) !important;
    }
}

.logo {
    cursor: pointer;
    font-size: 1.25rem;
    font-weight: 700;
    height: fit-content;
    text-decoration: none;
    color: var(--complementary-blue);
    background-color: white;
    padding: 5px 10px;
    border-radius: 10px;
    box-shadow:
        rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
        rgba(0, 0, 0, 0.3) 0px 30px 60px -30px,
        rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;

    & span {
        color: var(--complementary-red);
    }
}