/* Blue Shades */
:root {
    & body.light-mode {
        --main-blue: #0a86fa;
        /* Primary blue shade for background and major UI elements */
        --background-color: var(--light-gray);
        --color: var(--text-light);
        --color-shadow: rgba(0, 0, 0, 0.1);
        --accent-background-color: #ffffff;
    }

    & body.dark-mode {
        --main-blue: #0050b3;
        /* Primary blue shade for background and major UI elements */
        --background-color: var(--dark-gray);
        --color: var(--text-dark);
        --color-shadow: rgba(169, 169, 169, 0.132);
        --accent-background-color: #5f5f5f;
    }

    --lighter-blue: #91d5ff;
    /* Lighter shade for hover effects and subtle accents */
    --accent-blue: #40a9ff;
    /* Slightly different shade for emphasis, buttons, and icons */
    --light-blue: #bae7ff;
    /* Subtle blue for highlights or hover effects */
}

/* Complementary Colors */
:root {
    --complementary-red: #ff4d4f;
    /* Contrasting color for accents and interactive elements */
    --complementary-blue: #1890ff;
    /* Cool contrast for links and other interactive elements */
    --complementary-yellow: #ffd666;
    /* Warm contrast for attention-grabbing elements */
    --complementary-gray: #bfbfbf;
    /* Neutral gray for backgrounds or subtle UI elements */
    --medium-gray: #ddd;
    /* Medium gray for sidebar  */
    --low-medium-gray: #cbcbcb;
    /* Low-Medium gray for sidebar  */
    --border-sidebar-item: rgba(0, 0, 0, 0.5);
    /* Border sidebar for sidebar items  */
}

/* Additional Shades */
:root {
    --dark-gray: #333333;
    /* Backgrounds, especially in dark mode */
    --light-gray: #f5f5f5;
    /* Clean and light background for sections */
}

/* Text Colors */
:root {
    & body.light-mode {
        --text-color: rgba(255, 255, 255, 0.8);
    }

    & body.dark-mode {
        --text-color: rgba(0, 0, 0, 0.8);
    }

    --text-light: #333333;
    /* Dark text color for light mode */
    --text-dark: #f5f5f5;
    /* Light text color for dark mode */
    --text-color-dark: rgba(0, 0, 0, 0.8);
}

/* Tips for Usage */
/* Use variables like var(--main-blue) for background colors and var(--text-light) for text colors */
/* Example usage: background-color: var(--main-blue); color: var(--text-light); */
/* Ensure appropriate contrast for readability, especially in dark mode */
